{% extends 'base.html'%}
{% load static %}
{% block title %}  {{ query }}  Natijalar  {% endblock %}
{% block description %}  {{ category.description }}{% endblock %}
{% block keywords %}  {{ category.keywords }}{% endblock %}



{% block body %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- MAIN -->
				<div id="main" class="col-md-9">
					<!-- store top filter -->

					<!-- /store top filter -->

					<!-- STORE -->
					<div id="store">
						<!-- row -->
					<div class="row">
                        	<div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">Mahsulotlar Ro'yxati</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Mahsulot</th>
										<th>Nomi</th>
										<th class="text-center">Narxi</th>
										<th class="text-center">Soni</th>

										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>
                                {% for rs in products %}
									<tr>
                                        <td class="thumb"><a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="" style="height: 500px"></a></td>
										<td class="details">
											<a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                        </td>
										<td class="price text-center"><strong>${{rs.price}}</strong><br></td>
										<td class="qty text-center"><input class="input" type="number" value="1"></td>

										<td class="text-right"><a href="/orderbook/addtoshopcart/{{ rs.id }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>Kartaga qo`shish</a></td>
									</tr>
                                {% endfor %}


								</tbody>

							</table>

						</div>

					</div>
                    </div>
						<!-- /row -->
					</div>
					<!-- /STORE -->

					<!-- store bottom filter -->

					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


 {% endblock %}
{% block foot %}{% include 'footer.html' %} {% endblock %}